<footer class="footer">
  <div class="footer-container centered">
    <div class="footer-info">
      <h2 class="footer-title font-xl">Okuduğun için teşekkürler!</h2>
      <div class="footer-subtitle">Gitmeden diğer linklere de bir göz atmak isteyebilirsin.</div>
      <div class="footer-copyright font-sm"><span aria-hidden="true">{{ 'now' | date: "%Y" }} &copy;</span> Copyright {{
        env.author }}</div>
    </div>
    <nav class="footer-links" aria-label="Secondary">
      <ul class="footer-pages" aria-label="Quick links">
        <li><a href="/iletisim/" class="footer-link" title="İletişim">İletişim</a></li>
        <li><a href="/feed.xml" class="footer-link" title="RSS">RSS</a></li>
        <li><a href="/sitemap.xml" class="footer-link" title="Sitemap">Sitemap</a></li>
      </ul>
      <ul class="footer-socials" aria-label="Social media">
        {%- assign networks = socials | entries -%}
        {%- for network in networks -%}
        {%- assign id = network | first -%}
        {%- assign data = network | last -%}
        <li>
          <a href="{{ data.url }}" target="_blank" rel="noreferrer noopener nofollow" class="footer-link" title="{{ id }}">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/{{ id }}.svg"
              alt="{{ data.name }} ikonu" loading="lazy" />
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</footer>