---
layout: default
---

<article class="contact">
  <div class="contact-content">
    {{ content }}
    <section class="contact-socials">
      <h2 class="font-md">Takip Et!</h2>
      <ul class="contact-socials-list">
        {%- assign networks = socials | entries -%}
        {%- for network in networks -%}
        {%- assign id = network | first -%}
        {%- assign data = network | last -%}
        <li>
          <a title="{{data.name}}" class="contact-social" href="{{ data.url }}" target="_blank" rel="noreferrer noopener nofollow">
            <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/{{ id }}.svg"
              alt="{{ data.name }} ikonu" loading="lazy" />
            <span class="contact-social-name" aria-hidden="true">{{ data.name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</article>